<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="clean_report_files" xsi:type="object">MageSuite\ReportFileCleaner\Console\Command\CleanFiles</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Config\Model\Config">
        <plugin name="validate_search_patterns" type="MageSuite\ReportFileCleaner\Plugin\Config\Model\Config\ValidateSearchPatterns" />
    </type>
</config>
