<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="system" translate="label" type="text" sortOrder="210" showInDefault="1" showInWebsite="1">
            <group id="report_file_cleaner" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Report File Cleaner</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="storing_files_period_in_days" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Period of storing files in days</label>
                    <validate>validate-number validate-not-negative-number</validate>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="clean_files_cron_schedule_expression" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Cleaning files cron schedule expression</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="search_patterns" translate="label" type="textarea" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Cleaning files patterns</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <comment><model>MageSuite\ReportFileCleaner\Model\Config\StoredFilesComment</model></comment>
                </field>
            </group>
        </section>
    </system>
</config>
